doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width , initial-scale=1.0")
        meta(http-equiv="author" content="Zakieh Hossein Zadeh")
        title "آیفون شاپ"

        link(href="styleSheets/the styles/styles.css" rel="stylesheet")
        link(href="styleSheets/components/normalize.css" rel="stylesheet")
        link(href="styleSheets/components/fontawesome.css" rel="stylesheet")
        link(href="styleSheets/components/solid.css" rel="stylesheet")
        link(href="styleSheets/components/brands.css" rel="stylesheet")
        link(href="styleSheets/components/jquery.bxslider.min.css" rel="stylesheet")
        link(href="styleSheets/components/aos.css" rel="stylesheet")
        link(href="styleSheets/components/slick.css" rel="stylesheet")
        link(href="styleSheets/components/slick-theme.css" rel="stylesheet")
        link(href="styleSheets/components/sweetalert2.min.css" rel="stylesheet")
        link(rel="shortcut icon" href="images/favicon.ico" )


    body
        main
            a#go-to-top(href="#")
                i.fa-solid.fa-arrow-up
            div#overlay
                div#popup
                    h2 تبلیغات
                    p لورم ایپسوم متن ساختگی تولید سادگی نامفهوم صنعت چاپ
                    p لورم ایپسوم متن ساختگی تولید سادگی نامفهوم صنعت چاپ
                    p لورم ایپسوم متن ساختگی تولید سادگی نامفهوم صنعت چاپ
                    p لورم ایپسوم متن ساختگی تولید سادگی نامفهوم صنعت چاپ

                    img(src="images/delete_icon.png" alt="تبلیغات" onclick="closePopup()")#close_icon

            label(for="themeToggle" type="checkbox").themeToggle.st-sunMoonThemeToggleBtn
                    input#themeToggle.themeToggleInput(type="checkbox")
                    svg(width="18" height="18" viewBox="0 0 20 20" fill="currentColor" stroke="none")

                        circle.sunMoon(cx="10" cy="10" r="7" mask="url(#moon-mask)")
                        g
                            circle.sunRay.sunRay1( cx="18" cy="10" r="1.5")
                            circle.sunRay.sunRay2(cx="14" cy="16.928" r="1.5")
                            circle.sunRay.sunRay3(cx="6" cy="16.928" r="1.5")
                            circle.sunRay.sunRay4(cx="2" cy="10" r="1.5")
                            circle.sunRay.sunRay5(cx="6" cy="3.1718" r="1.5")
                            circle.sunRay.sunRay6(cx="14" cy="3.1718" r="1.5")
                        mask#moon-mask
                            rect(x="0" y="0" width="20" height="20" fill="white")
                            circle(cx="11" cy="3" r="8" fill="black")




            section#menu-wrapper
                        img(src="images/logo.png" alt="لوگوی سایت")#menu-logo
                        i#remove-menu.fa-solid.fa-times

                        div#menu-box
                            div.menu-hov
                                i.fa-solid.fa-circle-chevron-left
                                a(href="#") صفحه اصلی

                            div.menu-hov
                                i.fa-solid.fa-circle-chevron-left
                                a(href="#") دسته بندی محصولات

                            div.menu-hov
                                i.fa-solid.fa-circle-chevron-left
                                a(href="#")  شگفت انگیز ها

                            div.menu-hov
                                i.fa-solid.fa-circle-chevron-left
                                a(href="#") وبلاگ

                            div.menu-hov
                                i.fa-solid.fa-circle-chevron-left
                                a(href="#")  خبرنامه

            div#header
                .container
                    header#top-header
                        a(href="index.html")#logo
                            img(src="images/logo.png" alt="لوگوی سایت")
                        nav.menu
                            ul
                                li
                                    a(href="#home") خانه
                                li
                                    a(href="#category") دسته بندی محصولات
                                li
                                    a(href="#amazings") شگفت انگیز ها
                                li
                                    a(href="#blogs") وبلاگ
                                li
                                    a(href="#news") خبرنامه
                        div.icons
                            div.container-icon
                                input(type="text" name="text" required="" placeholder="Type to search...").input
                                div.icon
                                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512").ionicon
                                        title Search
                                        path(d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32")
                                        path(fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448")

                            i.fa-solid.fa-shopping-bag
                            a(href="#")#show-menu
                                i.fa-solid.fa-bars

            section#home
                div#slideshow
                    ul.bxslider
                        li
                            img(src="images/slider1.jpg" alt="Slider")
                        li
                            img(src="images/slider2.jpg" alt="Slider")
                .container-box
                    div.box-wrapper
                        div#txt-slideshow
                            h4(data-aos="fade-up" data-aos-duration="1000") فروش تا 30% تخفیف
                            h1(data-aos="fade-up" data-aos-duration="1500") سری های اپل واچ
                            p(data-aos="fade-up" data-aos-duration="2000") لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                            p(data-aos="fade-up" data-aos-duration="2500") از صنعت چاپ
                            div(data-aos="fade-up" data-aos-duration="3000")
                                a(href="#").btn-shop اکنون خرید کنید
                                    i.fa-solid.fa-arrow-left
                        div



            section#category
                .container
                    div.title
                        h3 دسته بندی محصولات
                    div#category-box
                        article.categories
                            img(src="images/iphone-11.jpg" alt="iphone 11")
                            p آیفون
                        article.categories
                            img(src="images/mini-speaker.jpg" alt="iphone 11")
                            p اسپیکر
                        article.categories
                            img(src="images/tablet-white.webp" alt="iphone 11")
                            p تبلت
                        article.categories
                            img(src="images/headphones.webp" alt="iphone 11")
                            p هدفون
                        article.categories
                            img(src="images/laptop.webp" alt="iphone 11")
                            p لپ تاپ
                        article.categories
                            img(src="images/airpods.webp" alt="iphone 11")
                            p تجهیزات جانبی


            section#amazings
                .container
                    div#pro-box
                        article.amazing-things
                            .banner-wrapper
                                a(href="#")
                                    img(src="images/sub-banner-1.jpg" alt="amazing banner")
                            .banner-content
                                p دوربین هوشمند امنیتی
                                h3 فقط از 10 میلیون ریال شروع می شود
                                div
                                    a(href="#").btn-shop اکنون خرید کنید
                                        i.fa-solid.fa-arrow-left
                        article.amazing-things
                            .banner-wrapper
                                a(href="#")
                                    img(src="images/sub-banner-2.jpg" alt="amazing banner")
                            .banner-content
                                p سرگرمی و بازی
                                h3 فقط از 10 میلیون ریال شروع می شود عجله کنید!
                                div
                                    a(href="#").btn-shop اکنون خرید کنید
                                        i.fa-solid.fa-arrow-left

            section#best-selling
                .container
                    div.title
                        h3 محصولات پر فروش
                    div.b-sell-box
                        article( data-aos="fade-up" data-aos-anchor-placement="center-bottom").b-sell
                            a(href="#")
                                img(src="images/charger.webp" alt="sofa charger")
                                img(src="images/cable.webp" alt="cable charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 شارژر DroSafe
                            p 850 هزار ریال

                        article(data-aos="fade-up" data-aos-anchor-placement="center-bottom").b-sell
                            a(href="#")
                                img(src="images/home-entertainment.webp" alt="home entertainment")
                                img(src="images/iphone-11.jpg" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 تفریحات خانگی
                            p 850 هزار ریال

                        article(data-aos="fade-up" data-aos-anchor-placement="center-bottom").b-sell
                            a(href="#")
                                img(src="images/airpods.webp" alt="sofa charger")
                                img(src="images/iphone-13.jpg" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 DrouPods Pro سفید
                            p 850 هزار ریال

                        article(data-aos="fade-up" data-aos-anchor-placement="center-bottom").b-sell
                            a(href="#")
                                img(src="images/laptop.webp" alt="sofa charger")
                                img(src="images/tablet.webp" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 UPad Pro رنگ مشکی
                            p 850 هزار ریال

                        article(data-aos="fade-up" data-aos-anchor-placement="center-bottom").b-sell
                            a(href="#")
                                img(src="images/mini-speaker.jpg" alt="sofa charger")
                                img(src="images/watch.webp" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 هوم پاد مینی 2022
                            p 850 هزار ریال

                        article(data-aos="fade-up" data-aos-anchor-placement="center-bottom").b-sell
                            a(href="#")
                                img(src="images/airpods.webp" alt="sofa charger")
                                img(src="images/iphone-13.jpg" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 DrouPods Pro سفید
                            p 850 هزار ریال

            section#ads-banner
                div#img-banner
                    img(src="images/main-banner-01.jpg" alt="ads banner")
                div.container-content
                    h4 عجله کنید!
                    h2 "تا 25% تخفیف
                    h3 آن را بررسی کنید."
                    //div#countdown
                    div#time-btn
                        //div.time.days.clock-days
                        //    div#canvas_days.clock-canvas
                        //    div.text
                        //        span 00
                        //        span روز
                        //div.time.hours.clock-hours
                        //    div#canvas_hours.clock-canvas
                        //    div.text
                        //        span 00
                        //        span ساعت
                        //div.time.minuts.clock-minuts
                        //    div#canvas_minuts.clock-canvas
                        //    div.text
                        //        span 00
                        //        span دقیقه
                        //div.time.seconds.clock-seconds
                        //    div#canvas_seconds.clock-canvas
                        //    div.text
                        //        span 00
                        //        span ثانیه
                    a(href="#").btn-shop اکنون خرید کنید
            section#popular-products
                .container
                    div.title
                        h3 محبوب ترین ها
                        nav.menu-pup
                            ul
                                li
                                    a(href="#").all.active همه
                                li
                                    a(href="#").iphone آیفون
                                li
                                    a(href="#").laptop لپ تاپ
                                li
                                    a(href="#").things تجهیزات جانبی
                    div#popular-box
                        article(data-aos="flip-right" data-aos-duration="1000").popular.iphone
                            a(href="#")
                                img(src="images/charger.webp" alt="sofa charger")
                                img(src="images/cable.webp" alt="cable charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link

                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter
                            h4 شارژر DroSafe
                            p 850 هزار ریال

                        article(data-aos="flip-right" data-aos-duration="1000").popular.laptop.iphone
                            a(href="#")
                                img(src="images/home-entertainment.webp" alt="home entertainment")
                                img(src="images/iphone-11.jpg" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 تفریحات خانگی
                            p 850 هزار ریال

                        article(data-aos="flip-right" data-aos-duration="1000").popular.laptop.things
                            a(href="#")
                                img(src="images/airpods.webp" alt="sofa charger")
                                img(src="images/iphone-13.jpg" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 DrouPods Pro سفید
                            p 850 هزار ریال

                        article(data-aos="flip-right" data-aos-duration="1000").popular.iphone
                            a(href="#")
                                img(src="images/laptop.webp" alt="sofa charger")
                                img(src="images/tablet.webp" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 UPad Pro رنگ مشکی
                            p 850 هزار ریال

                        article(data-aos="flip-right" data-aos-duration="1000").popular.things
                            a(href="#")
                                img(src="images/mini-speaker.jpg" alt="sofa charger")
                                img(src="images/watch.webp" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 هوم پاد مینی 2022
                            p 850 هزار ریال

                        article(data-aos="flip-right" data-aos-duration="1000").popular
                            a(href="#")
                                img(src="images/airpods.webp" alt="sofa charger")
                                img(src="images/iphone-13.jpg" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 DrouPods Pro سفید
                            p 850 هزار ریال

                        article(data-aos="flip-right" data-aos-duration="1000").popular
                            a(href="#")
                                img(src="images/laptop.webp" alt="sofa charger")
                                img(src="images/tablet.webp" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 UPad Pro رنگ مشکی
                            p 850 هزار ریال

                        article(data-aos="flip-right" data-aos-duration="1000").popular
                            a(href="#")
                                img(src="images/mini-speaker.jpg" alt="sofa charger")
                                img(src="images/watch.webp" alt="sofa charger").img-hover

                            ul.btn-like
                                li
                                    button
                                        i.fa-solid.fa-shopping-bag
                                li
                                    button.link-product
                                        i.fa-solid.fa-link
                                li
                                    button.shareWhatsAppBtn
                                        i.fa-brands.fa-whatsapp
                                li
                                    button.shareFacebookBtn
                                        i.fa-brands.fa-facebook
                                li
                                    button.shareTwitterBtn
                                        i.fa-brands.fa-twitter

                            h4 هوم پاد مینی 2022
                            p 850 هزار ریال

            section#news
                .container
                    div.title
                        h3 خبرنامه
                        h4.sub-title برای اطلاع از آخرین اخبار ایمیل خود را وارد کنید.

                    form(action="" method="post")#news-form
                        input(placeholder="ایمیل خود را در اینجا وارد کنید..." type="email")#user-email
                        input(type="submit" value="عضوم کن").btn-shop
            section#blogs
                .container
                    div.title
                        h3 وبلاگ
                    div#blog-box
                        article.blog
                            img(src="images/blog-1.jpg" alt="blogs")
                            div.blog-content
                                i.fa-regular.fa-calendar
                                time(datetime="1402-10-21") 21 بهمن , 1402
                            p لورم ایپسوم متن ساختگی تولید سادگی نامفهوم صنعت چاپ
                        article.blog
                            img(src="images/blog-2.jpg" alt="blogs")
                            div.blog-content
                                i.fa-regular.fa-calendar
                                time(datetime="1402-10-21") 21 بهمن , 1402
                            p لورم ایپسوم متن ساختگی تولید سادگی نامفهوم صنعت چاپ
                        article.blog
                            img(src="images/blog-3.jpg" alt="blogs")
                            div.blog-content
                                i.fa-regular.fa-calendar
                                time(datetime="1402-10-21") 21 بهمن , 1402
                            p لورم ایپسوم متن ساختگی تولید سادگی نامفهوم صنعت چاپ

            section#brands
                .container
                    div#brand-box
                        article.brand
                            img(src="images/iphone-logo.png" alt="logo")
                        article.brand.Huawei
                            img(src="images/Huawei.png" alt="logo")
                        article.brand.sumsung
                            img(src="images/sumsung.png" alt="logo")
                        article.brand.Xiami
                            img(src="images/Xiami.png" alt="logo")
                        article.brand.motorola
                            img(src="images/motorola.png" alt="logo")
                        article.brand.nokia
                            img(src="images/nokia.png" alt="logo")

            section#footer
                .container
                    div#footer-box
                        article.foot
                            h3 تماس با ما
                            ul.lists
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") فروشگاه نمیدونم چیچی
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") لورم ایپسوم متن ساختگی با تولید
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") کاشان
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href=`tel:${phoneNumber}`) 0910-912-4505
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") lorem-ipsom@gmail.com
                        article.foot
                            h3 خدمات مشتری
                            ul.lists
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") پشتیبانی محصول
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") مرکز کمک
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") بازخرید کوپن
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") تماس با ما
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") سیاست ها و قوانین
                        article.foot
                            h3 خدمات مشتری
                            ul.lists
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") پشتیبانی محصول
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") مرکز کمک
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") بازخرید کوپن
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") تماس با ما
                                li
                                    i.fa-solid.fa-angle-left
                                    a(href="#") سیاست ها و قوانین
                        article.foot
                            h3 برنامه ما را دانلود کنید
                            p برنامه ما را دانلود کنید و 15٪ تخفیف اضافی در اولین سفارش خود دریافت کنید..!
                            div#app-wrapper
                                a(href="#")
                                    img(src="images/app-store.webp" alt="app-store")
                                a(href="#")
                                    img(src="images/google-play.webp" alt="google-play")
            section#copy-right
                .container
                    div#copy
                        p تمامی حقوق محفوط و متعلق به وبسایت ... میباشد.CopyRight
                            i.fa-solid.fa-copyright
                            | ۲۰۲۲

                        p طراحی شده توسط
                            strong  زکیه حسین زاده
                            |     با
                            i.fa-solid.fa-heart

    script(src="scripts/jquery-3.7.0.min.js" type="text/javascript")
    script(src="scripts/jquery.bxslider.min.js" type="text/javascript")
    script(src="scripts/slick.min.js" type="text/javascript")
    script(src="scripts/aos.js" type="text/javascript")
    script(src="scripts/main.js" type="text/javascript")
    script(src="scripts/sweetalert2.all.min.js" type="text/javascript")
    script(src="scripts/countdown.jquery.min.js" type="text/javascript")
    script(src="scripts/theScripts.js" type="text/javascript")