* {
  box-sizing: border-box;
  @include fontIRANYEKAN();
}
body[data-theme="light"] {
  background-color: $terthery-light;
  color: $text-light;
}

body[data-theme="dark"] {
  background-color: $terthery-dark;
  color: $text-dark;

}
body {
  direction: rtl;

}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 12px;
  @media screen and (max-width: 992px) {
    width: 95%;
  }
  @media screen and (max-width: 768px) {
    width: 98%;
  }

}

.btn-shop {
  display: inline-block;

  &.btn-shop[data-theme="light"] {
    background-color: $primary-light;
  }

  &.btn-shop[data-theme="dark"] {
    background-color: $primary-dark;
  }

  padding: 15px;
  border-radius: 35px;
  vertical-align: middle;
  color: #fff;
  @include transition();
  cursor: pointer;

  @media screen and (max-width: 576px) {
    padding: 10px;
  }

  i.fa-arrow-left {
    vertical-align: middle;
    margin-right: 4px;
  }
}

.btn-shop:hover {
  &.btn-shop:hover[data-theme="light"] {
    background-color: $secondery-light;
  }

  &.btn-shop:hover[data-theme="dark"] {
    background-color: $secondery-dark;
  }
}

.title {
  .title[data-theme="light"] {
    color: $text-light;
  }

  .title[data-theme="dark"] {
    color: $text-dark;
  }

  @include fontPinar();
  margin: 20px 0;

  h3 {
    margin: 0;
    font-size: 25px;
    display: inline-block;
    @media screen and (max-width: 576px) {
      font-size: 16px;
      margin: 20px 0;
    }
  }
}

.title h3::before,
.title h3::after {
  content: "";
  width: 20px;
  height: 4px;

  .title h3::before,
  .title h3::after[data-theme="light"] {
    background-color: $primary-light;
  }

  .title h3::before,
  .title h3::after[data-theme="dark"] {
    background-color: $primary-dark;
  }

  display: inline-block;
  vertical-align: 2px;


}

@media screen and (max-width: 576px) {
  .title h3::before,
  .title h3::after {
    width: 7px;
  }
}

.title h3::before {
  margin-left: 5px;
}

.title h3::after {
  margin-right: 5px;
}


.menu ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  column-gap: $gap*2;

}

.menu li a {
  &.menu li a[data-theme="light"] {
    color: $primary-light;
  }

  &.menu li a[data-theme="dark"] {
    color: $primary-dark;
  }

  @include transition();
}

.menu li a:hover {
  &[data-theme="light"] {
    color: $secondery-light;
  }

  &[data-theme="dark"] {
    color: $secondery-dark;
  }
}

.menu li a:hover {
  &[data-theme="light"] {
    background-color: $blue-light;
  }

  &[data-theme="dark"] {
    background-color: $blue-dark;
  }

  padding: 7px;
  border-radius: 25px;

}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.active-menu {
  &[data-theme="light"] {
    background-color: $blue-light;
  }

  &[data-theme="dark"] {
    background-color: $blue-dark;
  }

  padding: 7px;
  border-radius: 25px;
}

.img-hover {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  @include transition();
}

.popular:hover > a > .img-hover,
.b-sell:hover > a > .img-hover {
  opacity: 1;
  transform: scale(1.05);
}

