* {
  box-sizing: border-box;
  @include fontIRANYEKAN();
}

body {
  direction: rtl;
  background-color: $tertheryColor;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 12px;
  @media screen and (max-width: 992px) {
    width: 95%;
  }
  @media screen and (max-width: 768px) {
    width: 98%;
  }

}

.btn-shop {
  display: inline-block;
  background-color: $primaryColor;
  padding: 15px;
  border-radius: 35px;
  vertical-align: middle;
  color: #fff;
  @include transition();
  cursor: pointer;
  
  @media screen and (max-width: 576px){
    padding:10px ;
  }
  i.fa-arrow-left {
    vertical-align: middle;
    margin-right: 4px;
  }
}

.btn-shop:hover {
  background-color: $seconderyColor;
}

.title {
  @include fontPinar();
  margin: 20px 0;

  h3 {
    margin: 0;
    font-size: 25px;
    display: inline-block;
    @media screen and (max-width: 576px){
      font-size: 16px;
      margin: 20px 0;
    }
  }
}

.title h3::before,
.title h3::after {
  content: "";
  width: 20px;
  height: 4px;
  background-color: $primaryColor;
  display: inline-block;
  vertical-align: 2px;


}
@media screen and (max-width: 576px) {
  .title h3::before,
  .title h3::after {
    width: 7px;
  }
}

.title h3::before {
  margin-left: 5px;
}

.title h3::after {
  margin-right: 5px;
}


.menu ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  column-gap: $gap*2;

}

.menu li a {
  color: $primaryColor;
  @include transition();
}

.menu li a:hover {
  color: $seconderyColor;
}

.menu li a:hover {
  background-color: $lightblue;
  padding: 7px;
  border-radius: 25px;

}
@media screen and (max-width: 768px){
  .menu{
    display: none;
  }
}

.active-menu {
  background-color: $lightblue;
  padding: 7px;
  border-radius: 25px;
}

.img-hover {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  @include transition();
}

.popular:hover > a > .img-hover,
.b-sell:hover > a > .img-hover {
  opacity: 1;
  transform: scale(1.05);
}

