@import "mixins";

@font-face {
  font-family: "IRANYekan";
  font-weight: normal;
  src: url("../fonts/iranyekan/svg/iranyekanwebregular.svg");
  src: url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf");
  src: url("../fonts/iranyekan/woff/iranyekanwebregular.woff");
  src: url("../fonts/iranyekan/woff2/iranyekanwebregular.woff2");
}

@font-face {
  font-family: "IRANYekan";
  font-weight: bold;
  src: url("./../fonts/iranyekan/svg/iranyekanwebbold.svg");
  src: url("./../fonts/iranyekan/ttf/iranyekanwebbold.ttf");
  src: url("./../fonts/iranyekan/woff/iranyekanwebbold.woff");
  src: url("./../fonts/iranyekan/woff2/iranyekanwebbold.woff2");
}

@font-face {
  font-family: "Pinar";
  font-weight: normal;
  src: url("./../fonts/pinar/Pinar-Regular.ttf") format('truetype'),
  url("./../fonts/pinar/Pinar-Regular.woff2") format('woff');
}

@font-face {
  font-family: "Pinar";
  font-weight: bold;
  src: url("../fonts/pinar/Pinar-Bold.ttf") format('truetype'),
  url("../fonts/pinar/Pinar-Bold.woff2") format('woff');
}

$gap: 15px;
$border: 1px solid black;
$size-button: 40px;


$primary-light: #7774ff;
$secondery-light: #232c35;
$terthery-light: #fff;
$blue-light: #a5bbcb;
$gray-light: #e8e8e85e;
$text-light: #000;
//$shadow-light: 0 0 3px 1px rgb(190 190 190 / 28%), 0 0 15px 1px rgba(0, 0, 0, .03);
//$shadow: 0 0 15px 2px rgba(0,0,0,.1), 0 0 15px 1px rgba(0,0,0,.3);

$primary-dark: #7973fc;
$secondery-dark: #304054;
$terthery-dark: #1a1a1a;
$blue-dark: #A5BBF0;
$gray-dark: rgba(68, 68, 68, 0.37);
//$shadow: 0 0 15px 2px rgb(109 109 109 / 5%), 0 0 15px 1px rgb(132 132 132 / 12%);
//$shadow: 1.5px 1.5px 3px #0E0E00, -1.5px -1.5px 0.5px rgba(93, 93, 93, 0.01), inset 0px 0px 0px #0e0e0e, inset 0px 0px 0px #5F5E5F;
$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
//$shadow:  inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
//  /* shadow ring 👇 */
//0 0 0 1px hsla(0, 0%, 0%, 0.05),
//  /* multiple soft shadows 👇 */
//0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
//0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
//0 3.5px 6px hsla(0, 0%, 0%, 0.09);
$text-dark: #fff;
//#2b2b2b
$background-dark:#2b2b2b;
$background-light:#fff;


$background:#fff;
$primary: #7774ff;
$secondery: #232c35;
$terthery: #fff;
$blue: #a5bbcb;
$gray: #e8e8e85e;
$text: #000;

:root {

  --primary: #{$primary};
  --secondary: #{$secondery};
  --terthery: #{$terthery};
  --blue: #{$blue};
  --gray: #{$gray};
  --text: #{$text};
  --background: #{$background};
}

body[data-theme="light"] {
  --primary: #{$primary-light};
  --terthery: #{$terthery-light};
  --secondary: #{$secondery-light};
  --blue: #{$blue-light};
  --text: #{$text-light};
  --background:#{$background-light};

}

body[data-theme="dark"] {
  --primary: #{$primary-dark};
  --terthery: #{$terthery-dark};
  --secondary: #{$secondery-dark};
  --blue: #{$blue-dark};
  --gray: #{$gray-dark};
  --text: #{$text-dark};
  --background:#{$background-dark};
}




