/* a clone from joshwcomeau.com
 * but this version runs on pure CSS
 */

@import "variables";
@import "mixins";


.container-icon {
  position: relative;
  color: white;
}

.input {
  padding-left: $size-button;
  height: $size-button;
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: $size-button;
  transition: all ease 0.3s;
  background-color: #191A1E;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0 0 0 #0e0e0e, 0 0 0 rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container-icon .icon {
  position: absolute;
  width: $size-button;
  height: $size-button;
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container-icon .icon svg {
  width: 100%;
  height: 100%;
}




.themeToggle {
  color: #fff;
  width: 3em;
}
.st-sunMoonThemeToggleBtn:hover{
  &[data-theme="light"]{
    background-color: $primary-light;
  }
  &[data-theme="dark"]{
    background-color: $primary-dark;
  }}

.st-sunMoonThemeToggleBtn {
  //position: relative;
  cursor: pointer;
  position: fixed;
  bottom: 80px;
  left: 20px;
  z-index: 20;
  background-color: #000;
  border-radius: 50%;
  @include transition();

}

.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;

}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
