@font-face {
  font-family: "IRANYekan";
  font-weight: normal;
  src: url("../fonts/iranyekan/svg/iranyekanwebregular.svg");
  src: url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf");
  src: url("../fonts/iranyekan/woff/iranyekanwebregular.woff");
  src: url("../fonts/iranyekan/woff2/iranyekanwebregular.woff2");
}
@font-face {
  font-family: "IRANYekan";
  font-weight: bold;
  src: url("./../fonts/iranyekan/svg/iranyekanwebbold.svg");
  src: url("./../fonts/iranyekan/ttf/iranyekanwebbold.ttf");
  src: url("./../fonts/iranyekan/woff/iranyekanwebbold.woff");
  src: url("./../fonts/iranyekan/woff2/iranyekanwebbold.woff2");
}
@font-face {
  font-family: "Pinar";
  font-weight: normal;
  src: url("./../fonts/pinar/Pinar-Regular.ttf") format("truetype"), url("./../fonts/pinar/Pinar-Regular.woff2") format("woff");
}
@font-face {
  font-family: "Pinar";
  font-weight: bold;
  src: url("../fonts/pinar/Pinar-Bold.ttf") format("truetype"), url("../fonts/pinar/Pinar-Bold.woff2") format("woff");
}
* {
  box-sizing: border-box;
  font-family: "IRANYekan", "Pinar", sans-serif;
}

body {
  direction: rtl;
  background-color: #feef2f5;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html, body {
  scroll-behavior: smooth;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 15px;
}

.btn-shop {
  display: inline-block;
  background-color: #7774ff;
  padding: 15px;
  border-radius: 35px;
  vertical-align: middle;
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.btn-shop i.fa-arrow-left {
  vertical-align: middle;
  margin-right: 4px;
}

.btn-shop:hover {
  background-color: #232c35;
}

.title {
  font-family: "Pinar", "IRANYekan", sans-serif;
  margin: 20px 0;
}
.title h3 {
  margin: 0;
  font-size: 25px;
  display: inline-block;
}

.title h3::before,
.title h3::after {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #7774ff;
  display: inline-block;
  vertical-align: 2px;
}

.title h3::before {
  margin-left: 5px;
}

.title h3::after {
  margin-right: 5px;
}

.menu ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
}

.menu li a {
  color: #7774ff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.menu li a:hover {
  color: #232c35;
}

.menu li a:hover {
  background-color: #a5bbcb;
  padding: 7px;
  border-radius: 25px;
}

.active-menu {
  background-color: #a5bbcb;
  padding: 7px;
  border-radius: 25px;
}

.img-hover {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.popular:hover > a > .img-hover,
.b-sell:hover > a > .img-hover {
  opacity: 1;
  transform: scale(1.05);
}

#go-to-top {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: #232c35;
  box-shadow: 0 0 23px 5px rgba(255, 255, 255, 0.08);
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin-right: 20px;
  z-index: 20;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

a#go-to-top:hover {
  background-color: #7774ff;
}

#go-to-top > .fa-arrow-up::before {
  font-size: 20px;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}
#top-header .icons {
  display: flex;
  column-gap: 30px;
}
#top-header .icons i {
  font-size: 25px;
  color: #232c35;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#top-header .icons i:hover {
  color: #7774ff;
  cursor: pointer;
}

#home {
  position: relative;
}
#home #slideshow {
  direction: ltr;
  overflow: hidden;
  position: relative;
}
#home #slideshow .bxslider img {
  width: 100%;
}
#home #slideshow .bx-wrapper {
  box-shadow: none;
  border: 0;
  margin: 0;
}
#home #slideshow .bx-controls-direction {
  display: none;
}
#home #slideshow .bx-wrapper .bx-controls-auto, #home #slideshow .bx-wrapper .bx-pager {
  bottom: 20px;
}
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a {
  background-color: lightgray;
}
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a.active,
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a:focus,
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background-color: #7774ff;
}
#home .container-box {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#home .box-wrapper {
  position: absolute;
  right: 0;
  bottom: 160px;
}
#home .box-wrapper #txt-slideshow h1 {
  font-size: 3.5em;
  margin: 20px 0;
}
#home .box-wrapper #txt-slideshow h4 {
  color: #f00;
  font-size: 22px;
  margin: 0;
}
#home .box-wrapper #txt-slideshow div {
  margin-top: 30px;
}

#category #category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  column-gap: 15px;
}
#category #category-box .categories {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px rgba(190, 190, 190, 0.28);
  cursor: pointer;
}
#category .categories img {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#category .categories:hover > img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

#amazings #pro-box {
  display: flex;
  padding: 15px;
  column-gap: 15px;
}
#amazings #pro-box .amazing-things {
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#amazings #pro-box .amazing-things img {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#amazings #pro-box .banner-content {
  position: absolute;
  top: 15px;
  right: 105px;
  text-align: center;
}
#amazings #pro-box .banner-content p {
  margin: 0;
}
#amazings #pro-box .banner-content h2 {
  margin: 12px;
}
#amazings #pro-box .amazing-things:hover > .banner-content > div > a {
  background-color: #232c35;
}
#amazings #pro-box .amazing-things:hover > .banner-wrapper > a > img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.b-sell-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}
.b-sell-box .b-sell a {
  position: relative;
}
.b-sell-box .img-hover {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.b-sell-box .b-sell {
  flex: 1;
  transition: all 0.5s;
  box-shadow: 0 0 3px 1px rgba(190, 190, 190, 0.28);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.b-sell-box .b-sell > a > img:first-child {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.b-sell:hover > a > img:nth-child(1) {
  opacity: 0;
}

.b-sell:hover > a > .img-hover {
  opacity: 1;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.b-sell h4 {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.b-sell h4:hover {
  color: #7774ff;
}

.b-sell p {
  color: #7774ff;
}

.btn-like {
  display: flex;
  padding: 0;
  width: 60%;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.b-sell:hover > .btn-like {
  opacity: 1;
}

.btn-like li {
  flex: 1;
}

.btn-like a {
  border-radius: 50%;
  padding: 7px;
  background-color: #232c35;
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.btn-like a:hover {
  background-color: #7774ff;
}

#ads-banner {
  position: relative;
}
#ads-banner #img-banner img {
  width: 100%;
}
#ads-banner .container-content {
  text-align: center;
  width: 28%;
  position: absolute;
  left: 15%;
  bottom: 10%;
}
#ads-banner .container-content h4 {
  width: 140px;
  margin: 0 auto;
  padding: 15px;
  background-color: #7774ff;
  color: #fff;
}
#ads-banner .container-content h2 {
  font-size: 2.5rem;
}
#ads-banner .container-content a {
  color: #232c35;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#ads-banner .container-content a:hover {
  color: #7774ff;
}
#ads-banner #time-btn {
  display: flex;
  column-gap: 15px;
  margin: 25px 0 65px 0;
}
#ads-banner .time {
  padding: 15px;
  flex: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0 0 3px 1px rgba(190, 190, 190, 0.28);
  display: flex;
  flex-direction: column;
}

#popular-products .title {
  display: flex;
  justify-content: space-between;
}
#popular-products .menu-pro {
  display: flex;
}
#popular-products .menu-pro li {
  flex: 1;
}
#popular-products #popular-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
#popular-products .popular {
  transition: all 0.5s;
  box-shadow: 0 0 3px 1px rgba(190, 190, 190, 0.28);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
#popular-products .popular img {
  width: 100%;
}
#popular-products .popular a {
  position: relative;
}

#news {
  background-color: #feef2f5;
  padding: 70px 0;
}
#news #news-form {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 3px 1px rgba(190, 190, 190, 0.28);
}
#news #news-form input {
  border: 0;
}
#news #user-email {
  padding: 15px;
  direction: ltr;
  width: calc(100% - 100px);
}
#news .title,
#news .sub-title {
  text-align: center;
}
#news .sub-title {
  font-weight: bold;
  color: gray;
}

#blogs {
  min-height: 100px;
}
#blogs #blog-box {
  display: flex;
  column-gap: 15px;
}
#blogs .blog {
  flex: 1;
  overflow: hidden;
}
#blogs .blog img {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#blogs .blog:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}
#blogs .blog-content {
  margin: 15px 0;
  color: gray;
}
#blogs .blog-content .fa-calendar {
  margin-left: 5px;
}

#brands {
  margin: 30px 0;
}
#brands #brand-box {
  display: flex;
  column-gap: 15px;
}
#brands .brand {
  flex: 1;
}
#brands .brand img {
  width: 60%;
}

/*# sourceMappingURL=styles.css.map */
