@font-face {
  font-family: "IRANYekan";
  font-weight: normal;
  src: url("../fonts/iranyekan/svg/iranyekanwebregular.svg");
  src: url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf");
  src: url("../fonts/iranyekan/woff/iranyekanwebregular.woff");
  src: url("../fonts/iranyekan/woff2/iranyekanwebregular.woff2");
}
@font-face {
  font-family: "IRANYekan";
  font-weight: bold;
  src: url("./../fonts/iranyekan/svg/iranyekanwebbold.svg");
  src: url("./../fonts/iranyekan/ttf/iranyekanwebbold.ttf");
  src: url("./../fonts/iranyekan/woff/iranyekanwebbold.woff");
  src: url("./../fonts/iranyekan/woff2/iranyekanwebbold.woff2");
}
@font-face {
  font-family: "Pinar";
  font-weight: normal;
  src: url("./../fonts/pinar/Pinar-Regular.ttf") format("truetype"), url("./../fonts/pinar/Pinar-Regular.woff2") format("woff");
}
@font-face {
  font-family: "Pinar";
  font-weight: bold;
  src: url("../fonts/pinar/Pinar-Bold.ttf") format("truetype"), url("../fonts/pinar/Pinar-Bold.woff2") format("woff");
}
:root {
  --primary: #7774ff;
  --secondary: #232c35;
  --terthery: #fff;
  --blue: #a5bbcb;
  --gray: rgba(232, 232, 232, 0.368627451);
  --text: #000;
  --background: #fff;
}

body[data-theme=light] {
  --primary: #7774ff;
  --terthery: #fff;
  --secondary: #232c35;
  --blue: #a5bbcb;
  --text: #000;
  --background:#fff;
}

body[data-theme=dark] {
  --primary: #7973fc;
  --terthery: #1a1a1a;
  --secondary: #304054;
  --blue: #A5BBF0;
  --gray: rgba(68, 68, 68, 0.37);
  --text: #fff;
  --background:#2b2b2b;
}

@font-face {
  font-family: "IRANYekan";
  font-weight: normal;
  src: url("../fonts/iranyekan/svg/iranyekanwebregular.svg");
  src: url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf");
  src: url("../fonts/iranyekan/woff/iranyekanwebregular.woff");
  src: url("../fonts/iranyekan/woff2/iranyekanwebregular.woff2");
}
@font-face {
  font-family: "IRANYekan";
  font-weight: bold;
  src: url("./../fonts/iranyekan/svg/iranyekanwebbold.svg");
  src: url("./../fonts/iranyekan/ttf/iranyekanwebbold.ttf");
  src: url("./../fonts/iranyekan/woff/iranyekanwebbold.woff");
  src: url("./../fonts/iranyekan/woff2/iranyekanwebbold.woff2");
}
@font-face {
  font-family: "Pinar";
  font-weight: normal;
  src: url("./../fonts/pinar/Pinar-Regular.ttf") format("truetype"), url("./../fonts/pinar/Pinar-Regular.woff2") format("woff");
}
@font-face {
  font-family: "Pinar";
  font-weight: bold;
  src: url("../fonts/pinar/Pinar-Bold.ttf") format("truetype"), url("../fonts/pinar/Pinar-Bold.woff2") format("woff");
}
:root {
  --primary: #7774ff;
  --secondary: #232c35;
  --terthery: #fff;
  --blue: #a5bbcb;
  --gray: rgba(232, 232, 232, 0.368627451);
  --text: #000;
  --background: #fff;
}

body[data-theme=light] {
  --primary: #7774ff;
  --terthery: #fff;
  --secondary: #232c35;
  --blue: #a5bbcb;
  --text: #000;
  --background:#fff;
}

body[data-theme=dark] {
  --primary: #7973fc;
  --terthery: #1a1a1a;
  --secondary: #304054;
  --blue: #A5BBF0;
  --gray: rgba(68, 68, 68, 0.37);
  --text: #fff;
  --background:#2b2b2b;
}

* {
  box-sizing: border-box;
  font-family: "IRANYekan", "Pinar", sans-serif;
}

body {
  direction: rtl;
  background-color: var(--terthery);
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 15px;
}
@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 98%;
  }
}

.btn-shop {
  display: inline-block;
  background-color: var(--primary);
  color: #fff;
  padding: 15px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  vertical-align: middle;
  color: #fff;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .btn-shop {
    padding: 10px;
  }
}
.btn-shop i.fa-arrow-left {
  vertical-align: middle;
  margin-right: 4px;
}

.btn-shop:hover {
  background-color: var(--secondary);
}

.title {
  color: var(--text);
  margin: 20px 0;
}
.title h3 {
  margin: 0;
  font-size: 22px;
  display: inline-block;
  font-family: "Pinar", "IRANYekan", sans-serif;
}
@media screen and (max-width: 576px) {
  .title h3 {
    font-size: 16px;
    margin: 20px 0;
  }
}

.title h3::before,
.title h3::after {
  content: "";
  width: 20px;
  height: 4px;
  background-color: var(--primary);
  display: inline-block;
  vertical-align: 2px;
}

@media screen and (max-width: 576px) {
  .title h3::before,
  .title h3::after {
    width: 7px;
  }
}
.title h3::before {
  margin-left: 5px;
}

.title h3::after {
  margin-right: 5px;
}

.menu ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
}

.menu li a {
  color: var(--primary);
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}

.menu li a:hover {
  color: var(--secondary);
}

.menu li a:hover {
  background-color: var(--blue);
  padding: 7px;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.active-menu {
  background-color: var(--blue);
  padding: 7px;
  border-radius: 25px;
}

.img-hover {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}

.popular:hover > a > .img-hover,
.b-sell:hover > a > .img-hover {
  opacity: 1;
  transform: scale(1.05);
}

#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: left;
  z-index: 30;
}

#popup {
  font-family: "Pinar", "IRANYekan", sans-serif;
  width: 740px;
  height: 410px;
  /*border: 1px solid red;*/
  background-color: white;
  background-image: url("../../images/popup_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  position: relative;
}

#popup h2 {
  font-size: 30px;
}

#close_icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#close_icon:hover {
  opacity: 0.5;
}

/* a clone from joshwcomeau.com
 * but this version runs on pure CSS
 */
@font-face {
  font-family: "IRANYekan";
  font-weight: normal;
  src: url("../fonts/iranyekan/svg/iranyekanwebregular.svg");
  src: url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf");
  src: url("../fonts/iranyekan/woff/iranyekanwebregular.woff");
  src: url("../fonts/iranyekan/woff2/iranyekanwebregular.woff2");
}
@font-face {
  font-family: "IRANYekan";
  font-weight: bold;
  src: url("./../fonts/iranyekan/svg/iranyekanwebbold.svg");
  src: url("./../fonts/iranyekan/ttf/iranyekanwebbold.ttf");
  src: url("./../fonts/iranyekan/woff/iranyekanwebbold.woff");
  src: url("./../fonts/iranyekan/woff2/iranyekanwebbold.woff2");
}
@font-face {
  font-family: "Pinar";
  font-weight: normal;
  src: url("./../fonts/pinar/Pinar-Regular.ttf") format("truetype"), url("./../fonts/pinar/Pinar-Regular.woff2") format("woff");
}
@font-face {
  font-family: "Pinar";
  font-weight: bold;
  src: url("../fonts/pinar/Pinar-Bold.ttf") format("truetype"), url("../fonts/pinar/Pinar-Bold.woff2") format("woff");
}
:root {
  --primary: #7774ff;
  --secondary: #232c35;
  --terthery: #fff;
  --blue: #a5bbcb;
  --gray: rgba(232, 232, 232, 0.368627451);
  --text: #000;
  --background: #fff;
}

body[data-theme=light] {
  --primary: #7774ff;
  --terthery: #fff;
  --secondary: #232c35;
  --blue: #a5bbcb;
  --text: #000;
  --background:#fff;
}

body[data-theme=dark] {
  --primary: #7973fc;
  --terthery: #1a1a1a;
  --secondary: #304054;
  --blue: #A5BBF0;
  --gray: rgba(68, 68, 68, 0.37);
  --text: #fff;
  --background:#2b2b2b;
}

.container-icon {
  position: relative;
  color: white;
}

.input {
  padding-left: 40px;
  height: 40px;
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: 40px;
  transition: all ease 0.3s;
  background-color: #191A1E;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgba(95, 94, 94, 0.25), inset 0px 0px 0px #0e0e0e, inset 0px 0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
  direction: ltr;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgba(95, 94, 94, 0.25), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container-icon .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container-icon .icon svg {
  width: 100%;
  height: 100%;
}

.themeToggle {
  color: #fff;
  width: 3em;
}

.st-sunMoonThemeToggleBtn:hover {
  background-color: var(--primary);
}

.st-sunMoonThemeToggleBtn {
  cursor: pointer;
  position: fixed;
  bottom: 80px;
  left: 20px;
  z-index: 20;
  background-color: #000;
  border-radius: 50%;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#go-to-top {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white !important;
  background-color: var(--secondary);
  box-shadow: 0 0 23px 5px rgba(255, 255, 255, 0.08);
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 20;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}

a#go-to-top:hover {
  background-color: var(--primary);
}

#go-to-top > .fa-arrow-up::before {
  font-size: 20px;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#top-header #logo img {
  width: 100px;
}
@media screen and (max-width: 992px) {
  #top-header {
    padding: 0;
  }
}
#top-header .icons {
  display: flex;
  column-gap: 30px;
}
#top-header .icons i {
  font-size: 25px;
  color: var(--text);
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  vertical-align: -15px;
}
#top-header .icons i:hover {
  color: var(--primary);
  cursor: pointer;
}
#top-header .fa-shopping-bag {
  margin-top: 5px;
}

#home {
  color: #000 !important;
  position: relative;
}
#home #slideshow {
  direction: ltr;
  overflow: hidden;
  position: relative;
}
#home #slideshow .bxslider img {
  width: 100%;
}
#home #slideshow .bx-wrapper {
  box-shadow: none;
  border: 0;
  margin: 0;
}
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  #home #slideshow .bx-wrapper .bx-pager.bx-default-pager a {
    width: 15px;
    height: 15px;
  }
}
#home #slideshow .bx-controls-direction {
  display: none;
}
#home #slideshow .bx-wrapper .bx-controls-auto, #home #slideshow .bx-wrapper .bx-pager {
  bottom: 20px;
}
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a {
  background-color: lightgray;
}
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a.active,
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a:focus,
#home #slideshow .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background-color: var(--primary);
}
#home .container-box {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 992px) {
  #home .container-box {
    width: 100%;
  }
}
#home .box-wrapper {
  position: absolute;
  right: 0;
  bottom: 160px;
}
@media screen and (max-width: 992px) {
  #home .box-wrapper {
    bottom: 80px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  #home .box-wrapper {
    bottom: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  #home .box-wrapper {
    margin-right: 10px;
  }
}
#home .box-wrapper #txt-slideshow h1 {
  font-size: 3.5em;
  margin: 20px 0;
  font-family: "Pinar", "IRANYekan", sans-serif;
}
@media screen and (max-width: 768px) {
  #home .box-wrapper #txt-slideshow h1 {
    font-size: 2.8rem;
  }
}
#home .box-wrapper #txt-slideshow h4 {
  color: #f00;
  font-size: 22px;
  margin: 0;
}
#home .box-wrapper #txt-slideshow div {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  #home .box-wrapper #txt-slideshow div {
    margin-top: 15px;
  }
}
@media screen and (max-width: 576px) {
  #home .box-wrapper #txt-slideshow h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  #home .box-wrapper #txt-slideshow h4 {
    font-size: 18px;
  }
  #home .box-wrapper #txt-slideshow p {
    line-height: 0.5;
  }
}

#category #category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  column-gap: 15px;
}
#category #category-box .categories {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  color: var(--text);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  #category #category-box {
    flex-wrap: wrap;
    gap: 15px;
  }
  #category #category-box .categories {
    flex-basis: 25%;
  }
}
#category .categories img {
  width: 100%;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}
#category .categories:hover > img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

#amazings #pro-box {
  display: flex;
  padding: 15px;
  column-gap: 15px;
}
@media screen and (max-width: 576px) {
  #amazings #pro-box {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
#amazings #pro-box .amazing-things {
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  #amazings #pro-box .amazing-things {
    flex-basis: 52%;
  }
}
#amazings #pro-box .amazing-things img {
  width: 100%;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}
#amazings #pro-box .banner-content {
  color: #000 !important;
  position: absolute;
  top: 15px;
  right: 105px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  #amazings #pro-box .banner-content {
    top: 8px;
    right: 60px;
  }
}
@media screen and (max-width: 992px) {
  #amazings #pro-box .banner-content {
    right: 50px;
  }
  #amazings #pro-box .banner-content h3 {
    margin: 8px 0;
  }
}
@media screen and (max-width: 768px) {
  #amazings #pro-box .banner-content {
    right: 15px;
    top: 30px;
  }
}
@media screen and (max-width: 576px) {
  #amazings #pro-box .banner-content {
    position: relative !important;
    top: 2px !important;
    transform: translate(0) !important;
  }
}
#amazings #pro-box .banner-content p {
  margin: 0;
}
#amazings #pro-box .banner-content h2 {
  margin: 12px;
}
#amazings #pro-box .amazing-things:hover > .banner-content > div > a [data-theme=light] {
  background-color: #232c35;
}
#amazings #pro-box .amazing-things:hover > .banner-content > div > a [data-theme=dark] {
  background-color: #304054;
}
#amazings #pro-box .amazing-things:hover > .banner-wrapper > a > img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.b-sell-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}
.b-sell-box .b-sell {
  color: var(--text);
}
.b-sell-box .b-sell a {
  position: relative;
}
.b-sell-box .img-hover {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}
.b-sell-box .slick-slide img {
  display: inline-block;
}
.b-sell-box .slick-list {
  padding: 15px;
}
.b-sell-box .slick-slide {
  margin: 0 10px;
}
.b-sell-box .b-sell {
  flex: 1;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.b-sell-box .b-sell > a > img:first-child {
  width: 100%;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}

.b-sell:hover > a > img:nth-child(1) {
  opacity: 0;
}

.b-sell:hover > a > .img-hover {
  opacity: 1;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.b-sell h4 {
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}

.b-sell h4:hover {
  color: var(--primary);
}

.b-sell p {
  color: var(--primary);
}

.btn-like {
  display: flex;
  padding: 0;
  width: 80%;
  margin: 5px auto;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.b-sell:hover > .btn-like,
.popular:hover > .btn-like {
  opacity: 1;
}

.btn-like li {
  flex: 1;
}

.btn-like button {
  border: none;
  border-radius: 12%;
  background-color: var(--secondary);
  color: #fff;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
}
.btn-like button .fa-solid, .btn-like button .fa-brands {
  vertical-align: middle;
  font-size: 20px;
}

.btn-like button:hover {
  background-color: var(--primary);
}

.slick-next:link,
.slick-prev:link,
.slick-next:visited,
.slick-prev:visited,
.slick-next:focus,
.slick-prev:focus,
.slick-next:hover,
.slick-prev:hover {
  border-radius: 50%;
  color: white !important;
  padding: 10px;
}

.slick-prev, .slick-next {
  width: 40px !important;
  height: 40px !important;
  background-color: var(--secondary) !important;
  color: white !important;
  border-radius: 50%;
  padding: 10px !important;
}

.slick-next {
  right: 0 !important;
  z-index: 10;
}

.slick-prev {
  left: 0 !important;
  z-index: 10;
}

.slick-next:before {
  content: "<" !important;
}

.slick-prev:before {
  content: ">" !important;
}

.slick-dots li button:before {
  font-size: 70px;
}

.slick-dots li.slick-active button:before {
  color: var(--secondary);
}

#ads-banner {
  position: relative;
}
#ads-banner #img-banner img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #ads-banner #img-banner img {
    height: 360px;
    object-fit: cover;
  }
}
#ads-banner .container-content {
  text-align: center;
  width: 28%;
  position: absolute;
  left: 15%;
  bottom: 10%;
}
@media screen and (max-width: 1200px) {
  #ads-banner .container-content {
    bottom: 15px;
  }
}
@media screen and (max-width: 992px) {
  #ads-banner .container-content {
    bottom: 20px;
    left: 30px;
    width: 40%;
  }
  #ads-banner .container-content h3 {
    margin: 10px 0;
  }
}
@media screen and (max-width: 576px) {
  #ads-banner .container-content {
    width: 90%;
  }
}
#ads-banner .container-content h4 {
  margin: 0 auto;
  font-size: 25px;
  color: #f00;
}
#ads-banner .container-content h2 {
  margin: 20px 0;
  font-family: "Pinar", "IRANYekan", sans-serif;
  font-size: 2.5rem;
}
#ads-banner #time-btn {
  direction: rtl;
  display: flex;
  column-gap: 15px;
  margin: 25px 0 65px 0;
  justify-content: space-between;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  #ads-banner #time-btn {
    margin: 25px 0 35px 0;
  }
}
@media screen and (max-width: 992px) {
  #ads-banner #time-btn {
    margin: 10px 0 15px 0;
  }
}
#ads-banner .wrapper {
  padding: 15px;
  flex: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  display: flex;
  flex-direction: column;
}

#popular-products .title {
  display: flex;
  justify-content: space-between;
}
#popular-products .menu-pup ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
}
#popular-products .menu-pup li a {
  color: var(--primary);
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}
@media screen and (max-width: 576px) {
  #popular-products .menu-pup li a {
    font-size: 13px;
  }
}
#popular-products .menu-pup li a:hover {
  color: var(--secondary);
}
#popular-products .menu-pup li a:hover,
#popular-products .menu-pup a.active {
  background-color: var(--blue);
  padding: 7px;
  border-radius: 25px;
}
@media screen and (max-width: 576px) {
  #popular-products .menu-pup li a:hover,
  #popular-products .menu-pup a.active {
    padding: 5px;
  }
}
#popular-products #popular-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 576px) {
  #popular-products #popular-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
#popular-products .popular {
  transition: all 0.5s;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  color: var(--text);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
#popular-products .popular img {
  width: 100%;
}
#popular-products .popular a {
  position: relative;
}
#popular-products .popular p {
  color: var(--primary);
}

#news {
  background-color: var(--gray);
  padding: 40px 0;
}
@media screen and (max-width: 992px) {
  #news {
    padding: 0;
  }
}
#news #news-form {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  overflow: hidden;
  padding: 5px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}
@media screen and (max-width: 992px) {
  #news #news-form {
    width: 70%;
  }
}
#news #news-form input {
  border: 0;
}
#news #user-email {
  padding: 15px;
  direction: rtl;
  margin-left: 10px;
  width: calc(100% - 107px);
  background-color: white !important;
}
#news #user-email:focus {
  outline: none;
  border: none;
  color: var(--text);
}
#news .title,
#news .sub-title {
  text-align: center;
}
#news .sub-title {
  font-weight: bold;
  color: gray;
}

#blogs #blog-box {
  display: flex;
  column-gap: 15px;
}
#blogs .blog {
  flex: 1;
  overflow: hidden;
  color: var(--text);
}
#blogs .blog img {
  width: 100%;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}
#blogs .blog:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
}
#blogs .blog-content {
  margin: 15px 0;
  color: gray;
}
#blogs .blog-content .fa-calendar {
  margin-left: 5px;
}
@media screen and (max-width: 1200px) {
  #blogs .blog p {
    line-height: 2;
  }
}
@media screen and (max-width: 576px) {
  #blogs #blog-box {
    flex-wrap: wrap;
  }
  #blogs .blog {
    flex-basis: 51%;
  }
}

#brands {
  margin: 30px 0;
}
#brands #brand-box {
  display: flex;
  column-gap: 15px;
}
#brands .brand {
  flex: 1;
}
#brands .brand img {
  width: 60%;
  display: block;
  margin: 0 auto;
}
#brands .sumsung, #brands .motorola {
  margin-top: 20px;
}
#brands #iphone img {
  width: 80%;
}
#brands .nokia {
  margin-top: 35px;
}
@media screen and (max-width: 576px) {
  #brands .sumsung, #brands .motorola {
    margin-top: 10px;
  }
  #brands .nokia {
    margin-top: 15px;
  }
}

#footer #footer-box {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  #footer #footer-box {
    flex-wrap: wrap;
  }
}
#footer .foot {
  flex: 1;
  color: var(--text);
}
#footer .foot h3 {
  font-family: "Pinar", "IRANYekan", sans-serif;
}
@media screen and (max-width: 768px) {
  #footer .foot {
    flex-basis: 47%;
  }
}
#footer .foot:last-child {
  flex-grow: 1.5;
}
#footer .foot p {
  color: gray;
}
@media screen and (max-width: 992px) {
  #footer .foot p {
    line-height: 2;
  }
}
#footer #app-wrapper {
  display: flex;
  column-gap: 15px;
}
#footer #app-wrapper img {
  width: 100%;
}
#footer .lists li {
  margin: 10px 0;
  padding-right: 5px;
}
#footer .lists i {
  color: var(--primary);
}
#footer .lists a:link,
#footer .lists a:visited {
  color: var(--text);
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  margin-right: 10px;
  display: inline-block;
  vertical-align: 2px;
}
#footer .lists a:hover {
  color: var(--primary);
}

#copy-right {
  background-color: var(--gray);
  color: var(--text);
}
#copy-right #copy {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
#copy-right .fa-heart {
  color: purple;
  margin-right: 5px;
}
@media screen and (max-width: 992px) {
  #copy-right .container {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  #copy-right #copy {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #copy-right p {
    flex-basis: 52%;
    margin: 4px 0;
  }
}

#menu-wrapper {
  display: none;
  color: var(--text);
  background-color: var(--terthery);
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
  transform: translateY(99%);
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}
#menu-wrapper #menu-logo {
  width: 200px;
}
@media screen and (max-width: 768px) {
  #menu-wrapper #menu-logo {
    width: 100px;
  }
}

#menu-wrapper.menu-wrapper-close {
  display: block;
  opacity: 1;
  transform: translateY(0%);
}

#menu-box {
  width: 50%;
  margin: 3% auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 992px) {
  #menu-box {
    width: 66%;
  }
}
@media screen and (max-width: 576px) {
  #menu-box {
    grid-template-columns: auto;
    width: 50%;
  }
}

.menu-hov {
  background-color: var(--gray);
  padding: 20px;
  border-radius: 5px;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}
@media screen and (max-width: 992px) {
  .menu-hov {
    padding: 12px;
  }
}

.menu-hov:hover {
  background-color: var(--secondary);
  color: var(--text);
}

#menu-hov-box .menu-hov:nth-child(odd) {
  margin-right: 33%;
}

.menu-hov a:link,
.menu-hov a:visited {
  color: var(--text);
  padding-right: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: IRANYekan, Pinar, sans-serif;
}

.menu-hov:hover a:link,
.menu-hov:hover a:visited {
  color: #fff;
}

.menu-hov > i {
  font-size: 20px;
  position: absolute;
  margin-top: 2px;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}

.menu-hov:hover i {
  color: #fff;
  margin-right: 10px;
}

#remove-menu {
  cursor: pointer;
  font-size: 40px;
  transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 1.2s cubic-bezier(0, 0, 0.2, 1);
}

#remove-menu:hover {
  color: var(--primary);
}

.categories, .b-sell, .popular {
  background-color: var(--background);
}

/*# sourceMappingURL=styles.css.map */
