@import "mixins";
@import "variables";
@import "general";


#go-to-top {
  width: $gap*3;
  height: $gap*3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: $seconderyColor;
  box-shadow: 0 0 23px 5px rgb(255 255 255 / 8%);
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin-right: 20px;
  z-index: 20;
  @include transition();
}

a#go-to-top:hover {
  background-color: $primaryColor;
}

#go-to-top > .fa-arrow-up::before {
  font-size: 20px;
}


#top-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;


  .icons {
    display: flex;
    column-gap: $gap*2;
  }

  .icons i {
    font-size: 25px;
    color: $seconderyColor;
    @include transition();
  }

  .icons i:hover {
    color: $primaryColor;
    cursor: pointer;
  }
}

//top header

#home {
  position: relative;

  #slideshow {
    direction: ltr;
    overflow: hidden;
    position: relative;

    .bxslider img {
      width: 100%;
    }

    .bx-wrapper {
      box-shadow: none;
      border: 0;
      margin: 0;
    }

    .bx-controls-direction {
      display: none;
    }

    .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
      bottom: 20px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
      background-color: lightgray;
    }

    .bx-wrapper .bx-pager.bx-default-pager a.active,
    .bx-wrapper .bx-pager.bx-default-pager a:focus,
    .bx-wrapper .bx-pager.bx-default-pager a:hover {
      background-color: $primaryColor;
    }
  }

  .container-box {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .box-wrapper {
    position: absolute;
    right: 0;
    bottom: 160px;

    #txt-slideshow {

      h1 {
        font-size: 3.5em;
        margin: 20px 0;
      }

      h4 {
        color: #f00;
        font-size: 22px;
        margin: 0;
      }

      div {
        margin-top: 30px;
      }


    }


  }
}

//section home

#category {


  #category-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    column-gap: $gap;

    .categories {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @include brRadius();
      overflow: hidden;
      box-shadow: $shadow;
      cursor: pointer;
    }
  }

  .categories img {
    width: 100%;
    @include transition();
  }

  .categories:hover > img {
    @include transformSCL();
  }
}

//section category

#amazings {

  #pro-box {
    display: flex;
    padding: 15px;
    column-gap: $gap;

    .amazing-things {
      flex: 1;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }

    .amazing-things img {
      width: 100%;
      @include transition();

    }

    .banner-content {
      position: absolute;
      top: 15px;
      right: 105px;
      text-align: center;

    }


    .banner-content p {
      margin: 0;
    }

    .banner-content h2 {
      margin: 12px;
    }

    .amazing-things:hover > .banner-content > div > a {
      background-color: $seconderyColor;
    }

    .amazing-things:hover > .banner-wrapper > a > img {
      @include transformSCL();
    }
  }
}

//section amazing things


.b-sell-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: $gap;

  .b-sell a {
    position: relative;
  }

  .img-hover {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    @include transition();
  }

  .b-sell {
    flex: 1;
    transition: all 0.5s;
    box-shadow: $shadow;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
  }

  .b-sell > a > img:first-child {
    width: 100%;
    @include transition()
  }
}

.b-sell:hover > a > img:nth-child(1) {
  opacity: 0;
}

.b-sell:hover > a > .img-hover {
  opacity: 1;
  @include transformSCL();
}

.b-sell h4 {
  @include transition();
}

.b-sell h4:hover {
  color: $primaryColor;
}

.b-sell p {
  color: $primaryColor;
}

.btn-like {
  display: flex;
  padding: 0;
  width: 60%;
  margin: 0 auto;
  transition: all .3s ease 0s;
  opacity: 0;
}

.b-sell:hover > .btn-like {
  opacity: 1;
}

.btn-like li {
  flex: 1;
}

.btn-like a {
  border-radius: 50%;
  padding: 7px;
  background-color: $seconderyColor;
  color: #fff;
  @include transition();
}

.btn-like a:hover {
  background-color: $primaryColor;
}

//section selling product

#ads-banner {
  position: relative;

  #img-banner img {
    width: 100%;
  }

  .container-content {
    text-align: center;
    width: 28%;
    position: absolute;
    left: 15%;
    bottom: 10%;
  }

  .container-content h4 {
    width: 140px;
    margin: 0 auto;
    padding: $gap;
    background-color: $primaryColor;
    color: #fff;
  }

  .container-content h2 {
    font-size: 2.5rem;
  }

  .container-content a {
    color: $seconderyColor;
    @include transition();
  }

  .container-content a:hover {
    color: $primaryColor;
  }

  #time-btn {
    display: flex;
    column-gap: $gap;
    margin: 25px 0 65px 0;
  }

  .time {
    padding: $gap;
    flex: 1;
    @include brRadius();
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
  }

}

//section ads banner
#popular-products {
  .title {
    display: flex;
    justify-content: space-between;
  }

  .menu-pro {
    display: flex;
  }

  .menu-pro li {
    flex: 1;
  }

  #popular-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap*2;
  }

  .popular {
    transition: all 0.5s;
    box-shadow: $shadow;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
  }

  .popular img {
    width: 100%;
  }

  .popular a {
    position: relative;
  }
}

//section popular products
#news {

  background-color: $tertheryColor;
  padding: 70px 0;

  #news-form {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    @include brRadius();
    padding: 5px;
    box-shadow: $shadow;
  }

  #news-form input {
    border: 0;
  }

  #user-email {
    padding: $gap;
    direction: ltr;
    width: calc(100% - 100px);
  }

  .title,
  .sub-title {
    text-align: center;
  }

  .sub-title {
    font-weight: bold;
    color: gray;
  }
}

#blogs {
  min-height: 100px;

  #blog-box {
    display: flex;
    column-gap: $gap;
  }

  .blog {
    flex: 1;
    overflow: hidden;
  }

  .blog img {
    width: 100%;
    @include transition();

  }

  .blog:hover img {
    @include transformSCL();
  }

  .blog-content {
    margin: $gap 0;
    color: gray;
  }

  .blog-content .fa-calendar {
    margin-left: 5px;
  }

}

//section blog
#brands {
  margin: $gap*2 0;

  #brand-box {
    display: flex;
    column-gap: $gap;
  }

  .brand {
    flex: 1;
  }

  .brand img {
    width: 60%;
  }
}









